sudo: required
services:
  - docker

before_install:
  - docker build -t wt3639/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run wt3639/react-test npm test -- --coverage

after_success:
  - docker build -t wt3639/multi-client ./client
  - docker build -t wt3639/multi-nginx ./nginx
  - docker build -t wt3639/multi-server ./server
  - docker build -t wt3639/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push wt3639/multi-client
  - docker push wt3639/multi-nginx
  - docker push wt3639/multi-server
  - docker push wt3639/multi-worker

deploy:
  provider: elasticbeanstalk
  region: "eu-north-1"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-eu-north-1-328020768713"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"
